{% extends "bootstrap/base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}

ZoneZero

{% endblock %}

{% block content %}

<div class="container">

    <br/>
    <h2>Create New Note</h2>

    {% if not_validate %}

    {% for message in form.errors %}
    <div class="error">{{ message }}</div>
    {% endfor %}

    {% endif %}

    <form method="POST" action="/create">
        <dl>
            {{ form.csrf_token }}
            {{ wtf.form_field(form.note_name) }}
            {{ wtf.form_field(form.note_subject) }}
            {{ wtf.form_field(form.note_content) }}
        </dl>
        <input class="btn btn-success" type="submit" value="Create Note"/>
    </form>

    <br/>

    <a class="btn btn-primary" href="{{ url_for('view')}}" role="button">View Notes</a>

    <br/>
    <br/>

    <a class="btn btn-warning" href="{{ url_for('dash')}}" role="button">Back to dash</a>

    <a class="btn btn-danger" href="{{ url_for('logout')}}" role="button">Logout</a>

</div>

{% endblock %}