{% extends "bootstrap/base.html" %}

{% block title %}

    Success

{% endblock %}

{% block content %}

    {% if create %}
    <h3>Note created Successfully!!</h3>
    {% endif %}

    {% if update %}
    <h3>Note Updated Successfully</h3>
    {% endif %}
<br/>
<br/>
    <form action="{{ url_for('dash')}}">
    <input class="btn btn-primary" type="submit" value="Back to dash" />

    </form>

<br/>
<br/>

<form action="{{ url_for('logout')}}">
    <input class="btn btn-warning" type="submit" value="Logout"/>
</form>

{% endblock%}