{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}

View | ZoneZero

{% endblock %}

{% block content %}

<div class="container">

    <br/>
    <h1>View notes on ZoneZero!</h1>

    <table>

        {% for row in rows %}

        <tr>
            <td>row[0]</td>
            <td>row.NoteName</td>
            <td>row.NoteSubject</td>
            <td>row.NoteContent</td>
        </tr>

        {% endfor %}

    </table>

    <br/>
    <br/>

    <a class="btn btn-primary" href="{{ url_for('dash')}}" role="button">Back</a>

    <a class="btn btn-warning" href="{{ url_for('logout')}}" role="button">Logout</a>

</div>

{% endblock %}