{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}

ZoneZero | Noteapp

{% endblock %}

{% block content %}
<div class="container">
    {% if norm %}
    <h3>Proceed in order to use ZoneZero!</h3>
    {% endif %}

    {% if log_in %}
    <h3>Kindly Login To Proceed</h3>
    {% endif %}

    {% if not_log_in %}
    <h3>You are not logged in</h3>
    {% endif %}

    <br/>
<br/>
<br/>


    <form action="{{ url_for('login')}}">
        <input class="btn btn-success" type="submit" value="Login"/>
</form>

</div>
{% endblock %}
